@font-face {
    font-family: Feather;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/feather.ttf) format("truetype");
  }

  body {
    font-family: "Inter", sans-serif;
    background-color: #f5f4f8;
    color: #5c5776;
  }


i.bell-icon{
    font-size: 15px;
    padding: 13px;
    margin-right: 13px;
    background-color: rgb(235, 235, 235);
    border-radius: 50%;
    cursor: pointer;
}

.hero-section{
    background-color: #7550fe;

}

div.hero-section-left{
    padding: 90px;
}

.browse-button{
    color: white;
    background-color: #1acb98;
}


.main-icon{
    font-size: 20px;
    color: #c48135;
    padding: 20px;
    background-color: #ffeeda;
    border-radius: 50%;
    margin-right: 15px;
}

.main-paragraph{
    font-size: small;
    margin-top: -5px;
    margin-bottom: 0px;
}


span{
    margin-right: 5px;
    }

.feather-bookmark{
    transition: all 0.3s linear;
    cursor: pointer;
}

.feather-bookmark:hover{
  fill: #5c5776;
  transform: scale(1.2);
}

.card-element{
  transition: all 0.2s linear;
}
.card-element:hover{
  transform: scale(1.1);
}

